<phpunit bootstrap="./phpunit.php">
    <testsuites>
        <testsuite>
            <directory>./src/Micrometa/Tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-xml" target="build/coverage"/>
    </logging>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">src/Micrometa/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
